- if user_signed_in?
  %p#intro
    Welcome
    = current_user.name
    %br/
    %span
      Share upcoming Ruby events!
- else
  %p#intro
    At RubyHype you can share and discuss <br/>upcoming Ruby events.
    %br/
    %span
      Sign up and share the news!
#posts
  = render @posts