- if user_signed_in?
  %p#intro
    Welcome
    = current_user.name
    %br/
    %span
      Express your idea into a post!
- else
  %p#intro
    Have an idea?
    %br/
    %span
      Sign up and share it!
#posts
  = render @posts