.form-main {
  padding-left: 33.333333%;
  width: 33.3333333%;
  h2 {
    text-align: center;
    font-size: 2em;
    padding-top: 1em;
  }
  .form-fields {

    padding-bottom: 2em;
    .form-text-field {
      width: 100%;
      font-size: 1.6em;
      padding: 0.3em;
    }
  }
}