::-webkit-input-placeholder {
  font-size: 0.8em;
}

:-moz-placeholder { /* Firefox 18- */
  font-size: 0.8em;
}

::-moz-placeholder {  /* Firefox 19+ */
  font-size: 0.8em;
}

:-ms-input-placeholder {
  font-size: 0.8em;
}